doctype html
html(lang='en')
  include ../common/header.jade
  +head('Starter MVP')
  body
        header
            include ../common/navbar.jade
            +navbar()
            .container
                .row
                .col-sm-12.offset-md-2.col-md-8
                    .jumbotron
                        h2.text-center Sign Up
                        .row
                            .col-sm-12.col-md-12
                                form(action="/signup", method="POST")
                                    div.formgroup
                                        label.small.mb-1.mt-3 Email:
                                        input(name="email", 
                                                type="email", 
                                                value=formData.email,
                                                required=true, 
                                                placeholder="Enter your email"
                                        ).form-control
                                        if(errors && errors.email)
                                            p.small.text-danger #{errors.email}
                                        label.small.mb-1.mt-3 Password:
                                        input(name="password", 
                                                type="password", 
                                                value='',
                                                required=true, 
                                                placeholder="New password"
                                        ).form-control
                                        if(errors && errors.password)
                                            p.small.text-danger #{errors.password}
                                        button.mt-3.btn.btn-primary(type="submit") Sign Up
                                        p.mt-2.mb-0
                                            |   Already have an account? #[a(href='/login') Login here]
            
        include ../common/footer.jade
        +footer()